Repository aaan-gelina/ChatterBox, pull requests merged in 2024-04, with the labels that each got.

#191 Optimize project
  src/main/java/com/chatterbox/accountsettings.jsp
  src/main/java/com/chatterbox/adddmchatback_test.jsp
  src/main/java/com/chatterbox/adddmchatfront.jsp
  src/main/java/com/chatterbox/dmmenufront.jsp
  src/main/java/com/chatterbox/dmpageback_test.jsp
  src/main/java/com/chatterbox/dmpagefront.jsp
  src/main/java/com/chatterbox/loginfront.jsp
  src/main/java/com/chatterbox/signupfront.jsp
  src/main/webapp/accountsettings.jsp
  src/main/webapp/adddmchatfront.jsp
  src/main/webapp/channel.jsp
  src/main/webapp/channelmenu.jsp
  src/main/webapp/dmmenufront.jsp
  src/main/webapp/dmpagefront.jsp
  src/main/webapp/home.jsp
  src/main/webapp/loginfront.jsp
  src/main/webapp/signupfront.jsp
  src/test/java/com/chatterbox/adddmchatback_test.jsp
  src/test/java/com/chatterbox/dmpageback_test.jsp
  target/classes/com/chatterbox/Message.jsp
  target/classes/com/chatterbox/accountsettingback.jsp
  target/classes/com/chatterbox/adddmchatback.jsp
  target/classes/com/chatterbox/dmmenuback.jsp
  target/classes/com/chatterbox/dmmenuback_test.jsp
  target/classes/com/chatterbox/dmpageback.jsp
Labels: enhancement

#195 Create maven.yml
  .github/workflows/maven.yml
Labels: enhancement

#192 Create dependency-review.yml
  .github/workflows/dependency-review.yml
Labels: enhancement

#211 Add Week 12 SCRUM Protocol, delete old file
  Scrum Meetings/SCRUM-MEETING-Week 13.docx
  Scrum Meetings/_SCRUM MEETING WEEK (13).pdf
Labels: documentation

#212 Adminsettings backend
  src/main/java/com/chatterbox/Adminsettingsback.java
Labels: enhancement

#218 Update labeler.yml
  .github/labeler.yml
Labels: bug

#220 Refactored DM backend
  src/main/java/com/chatterbox/Dm.java
  src/main/java/com/chatterbox/FirebaseConnect.java
  src/main/java/com/chatterbox/Message.java
  src/main/java/com/chatterbox/adddmchatback.jsp
  src/main/java/com/chatterbox/dmmenuback.jsp
  src/main/java/com/chatterbox/dmmenuback_test.jsp
  src/main/java/com/chatterbox/dmpageback.jsp
  src/main/webapp/adddmchatfront.jsp
  src/main/webapp/dmmenufront.jsp
  src/main/webapp/dmpagefront.jsp
  src/main/webapp/senddm.jsp
  src/test/java/com/chatterbox/adddmchatback_test.jsp
  src/test/java/com/chatterbox/dmpageback_test.jsp
Labels: enhancement

#226 Fix User Class for DM system
  src/main/java/com/chatterbox/FirebaseConnect.java
  src/main/java/com/chatterbox/User.java
  src/main/webapp/adddmchatfront.jsp
  src/main/webapp/dmmenufront.jsp
  src/main/webapp/dmpagefront.jsp
  target/test-classes/com/chatterbox/adddmchatback_test.jsp
  target/test-classes/com/chatterbox/dmpageback_test.jsp
Labels: enhancement

#228 Integrate front and back end of channel interface
  src/main/java/com/chatterbox/FirebaseConnect.java
  src/main/webapp/channel.jsp
  src/main/webapp/channelmenu.jsp
  target/test-classes/com/chatterbox/ChannelTest.class
Labels: enhancement

#233 Add week 14 SCRUM meeting protocol
  Scrum Meetings/SCRUM-MEETING-Week 14.docx
  Scrum Meetings/_SCRUM MEETING WEEK (14).pdf
Labels: documentation

#239 Dm System - fix database modification bug
  src/main/java/com/chatterbox/Dm.java
  src/main/java/com/chatterbox/FirebaseConnect.java
Labels: bug

#244 hopefully connected front and back end of channels
  src/main/java/com/chatterbox/Channel.java
  src/main/java/com/chatterbox/FirebaseConnect.java
  src/main/webapp/channel.jsp
  src/main/webapp/channelmenu.jsp
  src/main/webapp/sendchannelchat.jsp
Labels: enhancement

#243 Channeldmtest
  src/main/webapp/channel.jsp
  src/main/webapp/channelmenu.jsp
  src/test/java/com/chatterbox/ChannelTest.java
  src/test/java/com/chatterbox/DmTest.java
  src/test/java/com/chatterbox/testchannel.jsp
Labels: testing

#250 Added Usernames to DM system
  src/main/webapp/adddmchatfront.jsp
  src/main/webapp/dmmenufront.jsp
  src/main/webapp/dmpagefront.jsp
  src/main/webapp/img/logo.jpg
  src/main/webapp/img/placeholder.txt
Labels: enhancement
