Repository aaan-gelina/ChatterBox, pull requests merged in 2024-03, with the labels that each got.

#70 DM Front End First Draft
  WebContent/DMMenu.jsp
  WebContent/DMPage.jsp
Labels: enhancement

#84 Polished HTML, added button
  WebContent/DMMenu.jsp
  WebContent/DMPage.jsp
Labels: enhancement

#131 Add delete message functionality to channels
  WebContent/channelreadback.jsp
  WebContent/channelwriteback.jsp
Labels: enhancement

#134 Created backend class for channels, merged channel chat backend
  WebContent/channelback.jsp
  WebContent/channelchatback.jsp
  WebContent/channelwriteback.jsp
Labels: enhancement

#133 Create front end for channel menu
  WebContent/channelmenufront.jsp
Labels: enhancement

#132 Created backend files for DM system, added frontend formatting
  WebContent/adddmchatback.jsp
  WebContent/adddmchatfront.jsp
  WebContent/dmmenuback.jsp
  WebContent/dmmenufront.jsp
  WebContent/dmpageback.jsp
  WebContent/dmpagefront.jsp
Labels: enhancement

#151 Delete Scrum Meetings/SCRUM-MEETING-Week 11.docx
  Scrum Meetings/SCRUM-MEETING-Week 11.docx
Labels: documentation

#152 Replace week 11
  Scrum Meetings/SCRUM MEETING WEEK (11).pdf
Labels: documentation

#157 Prepare channel backend for testing
  WebContent/channelback.jsp
  WebContent/channelchatback.jsp
  WebContent/firebaseconnection.jsp
Labels: enhancement

#158 updated login front and signup front to match theme.
  WebContent/loginfront.jsp
  WebContent/signupfront.jsp
Labels: enhancement

#161 Added test files for dm system data display
  WebContent/Message.jsp
  WebContent/adddmchatback.jsp
  WebContent/adddmchatback_test.jsp
  WebContent/adddmchatfront.jsp
  WebContent/dmmenuback.jsp
  WebContent/dmmenuback_test.jsp
  WebContent/dmmenufront.jsp
  WebContent/dmpageback.jsp
  WebContent/dmpageback_test.jsp
  WebContent/dmpagefront.jsp
Labels: testing

#163 Testchanneladdchat
  Test Files/testchannel.jsp
  WebContent/channelback.jsp
  WebContent/channelfront.jsp
  WebContent/firebaseconnection.jsp
Labels: testing
